@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    /* =======  Colors  ======= */
    --background-color:#f7f7f8;
    --background-color-dark: #1f1d2a;
    --light-gray: #bfbfbf;
    --very-lightgray: #e6e6e6;
    --text-marked: #e94959;
    --text-markeddark: #9adde0;
    --footer-color-dark: #15141d;
    --background-price-dark: #1b1a23;
    --light-blue:#9adde0;
    --text-color: hsl(0, 0%, 35%);
    --total-white: #ffffff;
    /* ======  Fonts  ======= */
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-light:400;
    --font-medium: 500;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container,
.button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.button {
    border: none;
    cursor: pointer;
}

svg {
    height: 20px;
}

.scroll__header {
    background-color: var(--total-white);   
    box-shadow: 0px 10px 40px -18px rgba(0,0,0,0.81);   
}

.dark__mode--btn {
    cursor: pointer;
}

.shopping__bag {
    cursor: pointer;
}

@media (max-width: 650px) {

    nav {
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 200;
        padding:.5rem 2rem .5rem 1.5rem;
        transition: background-color 0.5s; 
    }
    
    .nav__main--menu {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .nav__menu{
        position: absolute;
        background-color: var(--total-white);
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s;
        text-align: center;
        z-index: 300;
    }
    .nav__menu--show {
        transform: translateX(0);
        transition: transform 0.5s;
        z-index: 500;
    }

    .close__menu--btn {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 1.2rem;
        padding-top: .5rem;
    }
    .close__menu--btn svg {
        height: 40px;
        width: 40px;
    }

    .nav__menu--list {
        
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }    
    
    .mobile__menu--btn{
        cursor: pointer;
    }

    .nav__logo svg{
    height: 40px;
    margin-top: 5px;
    }
    
    .nav__extra--menu {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    
    .shopping__bag {
        position: relative;
        height: 20px;
        width: 20px;
    }
    
    .shopping__bag--btn {
        position: absolute;
        top: -1px;
        left: -4px;
    }
    
    .shopping__counter {
        position: absolute;
        bottom: -4px;
        right: -1px;
        font-size: .6rem;
        background-color: black;
        color: var(--total-white);
        padding: .1rem;
        border-radius: 50%;
        width: 1rem;
        display: inline-flex;
        justify-content: center;
    }
}

@media(min-width: 650px) {

    nav {
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 200;
        padding:.5rem 2rem .5rem 1.5rem;
        transition: background-color 0.5s;  
    }


    
    .nav__main--menu {
        display: flex;
        align-items: center;
        gap: .8rem;
    }
    
    .close__menu--btn svg {
        height: 40px;
        width: 40px;
    }

    .nav__title {
        font-weight: var(--font-medium);
    }

    .nav__menu{
        margin-left: 1.5rem;
    }
    
    .nav__menu--list {
        
        display: flex;
        gap: 2rem;
    }    

    .nav__menu--item {
        font-weight: var(--font-medium);
        font-size: var(--normal-font-size);
    }

    .nav__link {
        color: var(--background-price-dark);
        transition: color 0.3s;
    }

    .nav__link:hover {
        color: var(--text-marked);
    }

    .nav__logo svg{
    height: 40px;
    margin-top: 5px;
    fill: var(--text-marked);
    }
        
    .nav__extra--menu {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    
    .shopping__bag {
        position: relative;
        height: 20px;
        width: 20px;
    }
    
    .shopping__bag--btn {
        position: absolute;
        top: -1px;
        left: -4px;
    }
    
    .shopping__counter {
        position: absolute;
        bottom: -4px;
        right: -1px;
        font-size: .6rem;
        background-color: black;
        color: var(--total-white);
        padding: .1rem;
        border-radius: 50%;
        width: 1rem;
        display: inline-flex;
        justify-content: center;
    }
}

@media (min-width: 651px) {
    .mobile__menu--btn{
        display: none;
    }

    .close__menu--btn{
        display: none;
    }
}

.container {
    background-color: var(--background-color);
    width: 100%;
}


main {
    display: flex;
    flex-direction: column;
    gap: 3rem
}

.home__container {
    display:flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 2rem;


}

.main__img {
    background-color: var(--text-marked);
    display: flex;
    padding: 4rem 2rem 2rem 2rem;
    width: 100%;
    justify-content: center;
}

.home__info{
    display: flex;
    flex-direction: column;
    gap:1.7rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.home__title {
    font-size: 1.8rem;
}

.home__main--text {
    color: var(--text-color);
    font-size: var(--small-font-size);

}

.home__price {
    color: var(--text-marked);
    font-weight: var(--font-medium);
    font-size: 1.1rem;
}
.home__buttons {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}

.home__button1 {
    padding:.85rem 1.5rem;
    background-color: var(--light-gray);
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.home__button1:hover {
    background-color: var(--text-color);
    color: var(--total-white);
    transform: scale(107%);
}

.home__button2 {
    padding: 1.1rem 1.7rem;
    background-color: var(--background-color-dark);
    color: var(--total-white);
    font-weight: var(--font-medium);
    box-shadow: 1px 10px 91px -2px rgba(0,0,0,0.32);
    font-size: .9rem;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 100;
}

.home__button2:hover {
    background-color: var(--text-marked);
    transform: scale(105%);
}

.products {
    padding-top: 6rem;
}

.products__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 7rem;
}

.products__filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    padding: 0 2rem;
}

.products__filter--data {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.product_display--none {
    display: none;
}

.products__filter--data:nth-child(1),
.products__filter--data:nth-child(2),
.products__filter--data:nth-child(3) {
    border-right-color: var(--light-gray);
    border-right-style: solid;
    border-right-width: 1px;
}


.product__filter--title {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.product__filter--description {
   font-size: var(--smaller-font-size);
   color: var(--text-color);
}

.products__content {
    display: grid;
    grid-template-columns: 200px;
    gap: 2rem;
    justify-content: center;
}

.product__card {

    border-radius: 1rem;
    overflow: hidden;
    width: 190px;
}

.product__card:hover:nth-last-child(1) > .product__img--container  > img,
.product__card:hover:nth-last-child(2) > .product__img--container  > img,
.product__card:hover:nth-last-child(3) > .product__img--container  > img{
    
    transform: translateY(-4px);
    transition: transform 0.3s;
}
.product__card:not(:hover):nth-last-child(1) > .product__img--container  > img,
.product__card:not(:hover):nth-last-child(2) > .product__img--container  > img,
.product__card:not(:hover):nth-last-child(3) > .product__img--container  > img {
    transform: translateY(0px);
    transition: transform 0.3s;
}

.product__img--container {
    background-color: var(--very-lightgray);
    text-align: center;
    padding: .25rem 0;
}

.product__img {
    width: 150px;
}

.product__info {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
    padding: 1rem 0 1rem 1rem;
    position:relative;
    background-color: var(--total-white);
}

.product__price {
    font-weight: var(--font-medium);

}

.product__stock {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.product__name {
    font-weight: var(--font-medium);
}

.product__button--add {
position: absolute;
right: .8rem;
top: -1.2rem;
font-size: 1.3rem;
background-color: var(--background-color);
padding: 1.2rem;
border-radius: 50%;
height: 2rem;
width: 2rem;
display: inline-flex;
justify-content: center;
align-items: center;
box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
font-weight: var(--font-light);
color: var(--text-color);
transition: background-color 0.5s;
}

.product__button--add:hover {
    background-color: var(--text-marked);
    color: var(--total-white);
}

.shopping__cart {
    background-color: var(--very-lightgray);
    width: 50%;
    height: 100vh;
    position:fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    box-shadow: -11px 0px 28px -20px rgba(0,0,0,0.75);
    transform: translateX(100%);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    padding: 5.5rem 2rem 2rem 2rem;
    gap: 2rem;
    align-items: center;
}



.shopping__cart--show {
    transform: translateX(0);
}

.shopping__cart--items {
    height: 70%;
}

.product__card--cart {
    display: flex;
    padding: .5rem;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}


.product__img--container--cart {

    width: 30%;
    border: 1px;
    border-style: solid;
    border-color: var(--light-gray);
    height: 80%;
}

.product__info--cart {
    width: 70%;
}

.product__stock--cart {
    color: var(--text-color);
}

.product__price--cart {
    color: var(--text-marked);
}

.subtotal {
    color: var(--text-marked);
    font-weight: 500;
}

.counter__cart {
    display: flex;
    width: 200px;
    gap:3rem
}

.amount__card--cart {
    font-weight: var(--font-light);
    color: var(--text-color);
}

.product__button--add--cart {
    border: 1px;
    border-style: solid;
    border-color: var(--light-gray);
    width: 1.5rem;
    height: 1.5rem;
}

.product__button--rest {
    border: 1px;
    border-style: solid;
    border-color: var(--light-gray);
    width: 1.5rem;
    height: 1.5rem;
}

.product__button--del {
    color: var(--text-marked);
    background-color: var(--very-lightgray);
}

.footer {
    background-color: var(--very-lightgray);
    padding: 4rem 1.5rem;
}

.footer__container {
    display: grid;
    row-gap: 2rem;
}

.footer__section--title {
    font-size: 1.15rem;
    font-weight: var(--font-medium);
    color: var(--body-font);
    margin-bottom: 1.5rem;
}

.footer__section--list {
    font-weight: var(--font-light);
    font-size: .9rem;
}

.footer__section--links {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    font-size: var(--small-font-size);
    color: var(--text-color);

}
.footer__links {
    transition: color 0.2s;
}
.footer__links:hover {
    color: black;
}

@media (min-width: 650px) {

    .home__container {
        flex-direction: row-reverse;
        padding-top: 6rem;
        padding-left: .5rem;
    }

    .main__img {
        width: 480px;
        height: 370px;
        align-items: flex-end;
        justify-content: center;
        justify-self: flex-end;
        padding: 2rem 1rem;
        padding-left: 0rem;
        transform: translateY(-6rem);
    }

    .home__info{
        align-self: flex-start;
        margin-top: 1rem;
        gap: 1rem;
    }

    .home__title {
        font-size: 2.3rem;
    }

    .home__price {
        font-size: 1.3rem;
    }

    .home__main--text {
        font-size: var(--normal-font-size);
        color: var(--background-price-dark);
    }

    .products__filter {
        padding: 0 5rem;
    }

    .products__content {
        grid-template: auto /repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 4rem;
        align-self: center;
    }

    .footer__container {
        grid-template: auto /repeat(2, 1fr);
    }
    
}

@media (min-width: 850px){

    .main__img {
        padding-top: 30rem;
        min-height: 450px;
        max-height: 500px;
        min-width: 350px;
        max-width: 430px;
    }


    .products__filter {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .products__content {
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__container {
        grid-template: auto /repeat(4, 1fr);
    }

}